@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    line-height: normal;
    color: var(--main-font-color);
}

body {
    width: 90%;
    margin: auto;
}

.full-screen {
    height: 100vh;
    width: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.no-select {
    user-select: none;
}

.display-none {
    display: none;
}

input {
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    outline: none;
    background-color: var(--white);
    border: 1px solid var(--input-border-color);
}

input::placeholder {
    color: var(--input-placeholder-color);
}

:root {
    --main-font-color: #333;
    --main-button-background-color: lightgrey;
    --main-button-border-color: #999;
    --input-border-color: #999;
    --input-placeholder-color: #888;
    --white: #fff;
}

#create-room-button {
    font-size: 30px;
    text-transform: uppercase;
    padding: 0 15px;
    width: 100%;
}

.button {
    margin: 5px;
    background-color: var(--main-button-background-color);
    padding: 10px;
    border-radius: 5px;
}
.room-title {
    font-size: 25px;
}
.join-button {
    font-size: 20px;
    width: 50%;
}
.room-card {
    width: 25%;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#list-of-rooms {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#game-page {
    display: flex;
}

#game-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 70%;
}

.left {
    width: 30%;
    display: flex;
    flex-direction: column;
}

#room-details {
    margin: 5px;

    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.room-name {
    font-size: x-large;
    margin: 5px;
}

.user-card {
    margin: 10px;
}

.username-block {
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rdy-status {
    width: 15px;
    height: 15px;
    margin-left: auto;
    border-radius: 50%;
}

.ready-button {
    font-size: 40px;
    padding: 5px;
    width: 50%;
}

.not-ready {
    text-shadow: red 1px 0 10px;
}

.ready {
    text-shadow: green 1px 1px 10px;
}

.progress-bar {
    height: 20px;
    margin: 4px;
    border: 1px solid grey;
    border-radius: 10px;
}
.progress {
    background-color: lightgreen;
    border-radius: 10px;
    height: 100%;
    width: 0%;
}

.timer-before {
    font-size: 60px;
}

.you {
    font-weight: bold;
}

#game-timer {
    position: absolute;
    margin: 5px;
    top: 10px;
    right: 10px;
}

#colored-text,
#selected-text,
#undecorated-text {
    font-size: large;
}

#colored-text {
    background-color: lightgreen;
}
